body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }
  
  .gradient-background {
    background: linear-gradient(300deg, #3D60A7, #0F084B, #8B322C);
    background-size: 180% 180%;
    animation: gradient-animation 16s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .signup-box input:focus {
    box-shadow: 0 0 0 0.2rem rgba(61, 96, 167, 0.25);
  }
  